@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: antiquewhite;
}

main {
    box-sizing: border-box;
    background: var(--color-darkblue);
    color: var(--color-white);
    

}

